
/* Všeobecné formátovanie pre tabuľku */
table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Nastaví výšku na celú obrazovku */
}

/* Formátovanie pre hlavičku tabuľky */
th {
    background-color: #9c5252;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Formátovanie pre riadky tabuľky */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Párové riadky tabuľky môžete zvýrazniť */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.footer {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    font-style: italic;
}
